/* CSS Variables for theming */

:root {
    /* Colors */
    --primary-color: #D81E5B;
    --secondary-color: #3A506B;
    --accent-color: #FFC857;
    --text-color: #1D1E2C;
    --text-color-light: #3D3D4E;
    --heading-color: #121420;
    --bg-color: #F2F4F8;
    --bg-light: #E5E9F0;
    --card-bg: #FFFFFF;
    --border-color: #d9dbe0;
    --input-bg: #FFFFFF;

    /* Sizes */
    --header-width: 290px;

    /* Transitions */
    --transition-base: all 0.3s ease;
}

/* Dark mode variables */
body.dark {
    --text-color: #F2F4F8;
    --text-color-light: #CDD1D9;
    --heading-color: #FFFFFF;
    --bg-color: #121420;
    --bg-light: #1E2029;
    --card-bg: #23242D;
    --border-color: #373A47;
    --input-bg: #191A24;
}